.find_password_form_container{
    width: 400px;
    margin: auto;
    padding-top: 60px;
    padding-bottom: 160px;
    min-height: calc(100vh - 340px);
}

/* 이메일 찾기 성공 */
/* 공지 */
.find_password_form_success_notice_content{
    text-align: center;
    font-size: 15px;
    letter-spacing: -1px;
    padding-top: 40px;
}

/* 버튼 */
.find_password_form_success_btn_content{
    margin: 22px auto auto auto;
    width: 200px;
    height: 52px;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}



/* 이메일 찾기 */
/* 제목 */
.find_password_form_title_content{
    font-size: 32px;
    border-bottom: 2px solid #000;
    padding-bottom: 41px;
    text-align: center;
    font-weight: 700;
    letter-spacing: -3px;
}

/* 공지 */
.find_password_form_notice_content{
    font-size: 14px;
    padding-top: 40px;
    padding-bottom: 30px;
    letter-spacing: -2px;
}

/* 번호 입력 */
.find_password_form_phone_input_content{
    padding-top: 10px;
    padding-bottom: 14px;
}
.find_password_form_phone_input_title_content{
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -1px;
}
.find_email_form_phone_input{
    font-size: 15px;
    line-height: 22px;
    border: none;
    outline: none;
    width: 400px;
    padding: 8px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb;
}
.find_email_form_phone_input::placeholder{
    font-size: 13px;
    color: rgba(34, 34, 34, 0.4);
}
.find_email_form_phone_input:focus{
    border-bottom: 2px solid black;
}
.find_email_form_phone_input:focus::placeholder{
    opacity: 0;
}

/* 이메일 입력 */
.find_password_form_email_input_content{
    padding-top: 10px;
    padding-bottom: 14px;
}
.find_password_form_email_input_title_content{
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -1px;
}
.find_password_form_email_input{
    font-size: 15px;
    line-height: 22px;
    border: none;
    outline: none;
    width: 400px;
    padding: 8px 0;
    box-sizing: border-box;
    border-bottom: 1px solid #ebebeb;
}
.find_password_form_email_input::placeholder{
    font-size: 13px;
    color: rgba(34, 34, 34, 0.4);
}
.find_password_form_email_input:focus{
    border-bottom: 2px solid black;
}
.find_password_form_email_input:focus::placeholder{
    opacity: 0;
}

/* 버튼 */
.find_password_form_btn_content{
    margin-top: 44px;
    width: 400px;
    height: 52px;
    font-size: 16px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -1px;
    font-weight: 700;
    background-color: #222;
    color: #fff;
    cursor: pointer;
}

.find_password_form_btn_none_content{
    margin-top: 44px;
    width: 400px;
    height: 52px;
    font-size: 16px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: -1px;
    font-weight: 400;
    background-color: rgba(34, 34, 34, 0.2);
    color: #fff;
}