.home_banner_container{
    /* position: relative; */
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
}
.home_banner_content{
    width: 1280px;
    height: auto;
    object-fit: cover;
}                                                                                   