.home_banner_container{
    position: relative;
    width: 100%;
    height: 480px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    overflow: hidden;
}
.home_banner_left_arrow_content{
    position: absolute;
    left: 0;
    width: 70px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    cursor: pointer;
}
.home_banner_right_arrow_content{
    position: absolute;
    right: 0;
    width: 70px;
    display: flex;
    justify-content: center;
    color: white;
    font-size: 40px;
    cursor: pointer;
}
.home_banner_content{
    width: 1280px;
    height: auto;
    object-fit: cover;
}       