.home_recommend_container{
    width: 1200px;
    margin: 40px auto 40px auto;
}
.home_recommend_title{
    color: #000;
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 16px;
    letter-spacing: -0.5px;
}