.signup_form_container{
    font-family: "Noto Sans KR", sans-serif;
}
.signup_form_margin_content{
    width: 100%;
    background-color: #f4f4f4;
    padding-top: 20px;
    padding-bottom: 20px;
}
.signup_form_content{
    width: 480px;
    box-sizing: border-box;
    margin: auto;
    padding: 20px 16px 20px 16px;
    background-color: white;
    border-radius: 10px;
}

/* 제목 */
.signup_form_title_content{
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
    color: #000;
    margin-bottom: 6px;
}

/* 이메일 */
.signup_form_email_input_content{
    padding: 10px 0px 18px;
}
.signup_form_email_input_title{
    font-size: 13px;
    font-weight: 600;
    color: #222;
}
.signup_form_email_input_title:after {
    content: "*";
}
.signup_form_email_input{
    width: 448px;
    height: 38px;
    padding: 8px 30px 8px 0;
    border: none;
    border-bottom: 1px solid #ebebeb;
    box-sizing: border-box;
    font-size: 15px;
    outline: none;
    font-family: "Noto Sans KR", sans-serif; 
}
.signup_form_email_input:focus{
    border-bottom: 2px solid black;
}
.signup_form_email_input:focus::placeholder{
    opacity: 0;
}
.signup_form_email_input::placeholder{
    color: rgba(34, 34, 34, 0.3);
}

/* 비밀번호 */
.signup_form_password_input_content{
    padding: 10px 0px 18px;
}
.signup_form_password_input_title{
    font-size: 13px;
    font-weight: 600;
    color: #222;
}
.signup_form_password_input_title:after {
    content: "*";
}
.signup_form_password_input{
    width: 448px;
    height: 38px;
    padding: 8px 30px 8px 0;
    border: none;
    border-bottom: 1px solid #ebebeb;
    box-sizing: border-box;
    font-size: 15px;
    outline: none;
    letter-spacing: 2px;
    font-family: "Noto Sans KR", sans-serif;
}
.signup_form_password_input:focus{
    border-bottom: 2px solid black;
}
.signup_form_password_input:focus::placeholder{
    opacity: 0;
}
.signup_form_password_input::placeholder{
    color: rgba(34, 34, 34, 0.3);
    letter-spacing: 0px;
}

/* 추천인 코드 */
.signup_form_referrer_input_content{
    padding: 10px 0px 18px;
}
.signup_form_referrer_input_title{
    font-size: 13px;
    font-weight: 600;
    color: #222;
}
.signup_form_referrer_input_title:after {
    content: "*";
}
.signup_form_referrer_input{
    width: 448px;
    height: 38px;
    padding: 8px 30px 8px 0;
    border: none;
    border-bottom: 1px solid #ebebeb;
    box-sizing: border-box;
    font-size: 15px;
    outline: none;
    font-family: "Noto Sans KR", sans-serif;
}
.signup_form_referrer_input:focus{
    border-bottom: 2px solid black;
}
.signup_form_referrer_input:focus::placeholder{
    opacity: 0;
}
.signup_form_referrer_input::placeholder{
    color: rgba(34, 34, 34, 0.3);
}

/* 신발 사이즈 */
.signup_form_shoes_input_content{
    padding: 10px 0px 18px;
}
.signup_form_shoes_input_title{
    font-size: 13px;
    font-weight: 600;
    color: #222;
}
.signup_form_shoes_input_title:after {
    content: "*";
}
.signup_form_shoes_input{
    width: 448px;
    height: 38px;
    padding: 8px 30px 8px 0;
    border: none;
    border-bottom: 1px solid #ebebeb;
    box-sizing: border-box;
    font-size: 15px;
    outline: none;
    font-family: "Noto Sans KR", sans-serif;
}
.signup_form_shoes_input:focus{
    border-bottom: 2px solid black;
}
.signup_form_shoes_input:focus::placeholder{
    opacity: 0;
}
.signup_form_shoes_input::placeholder{
    color: rgba(34, 34, 34, 0.3);
}

/* 동의 사항 */
.signup_form_agreement_input_container{
    padding: 16px 0;
    
}
.signup_form_agreement_input_title_container{
    height: 40px;
    display: flex;
    margin-bottom: 6px;
}
.signup_form_agreement_input_title_checkbox_content{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup_form_agreement_input_title_checkbox{
    margin: 0;
    width: 0;
    height: 0;
}
.signup_form_agreement_input_title_checkbox_label{
    width: 14px; /* 체크박스 크기 */
    height: 14px;
    border: 2px solid rgba(34, 34, 34, 0.2); /* 체크박스 테두리 */
    cursor: pointer;
    position: relative; /* 자식 요소 정렬을 위한 relative */
    display: inline-block; /* 레이아웃 정리를 위한 display */
}
.signup_form_agreement_input_title_checkbox:checked
+ .signup_form_agreement_input_title_checkbox_label {
    background-color: black;
}
.signup_form_agreement_input_title_checkbox:checked
+ .signup_form_agreement_input_title_checkbox_label::after {
    content: "✔"; /* 체크 표시 */
    position: absolute;
    top: 45%; /* 라벨의 세로 중앙 */
    left: 50%; /* 라벨의 가로 중앙 */
    transform: translate(-50%, -50%); /* 정확히 중앙에 배치 */
    color: white; /* 체크 표시 색 */
    font-size: 14px;
    line-height: 1; /* 정렬 문제 방지 */
}

.signup_form_agreement_input_title_content{
    padding: 2px 0px 0px 12px;
}
.signup_form_agreement_input_title1{
    font-size: 17px;
    line-height: 17px;
    font-weight: 700;
    margin: 0;
}
.signup_form_agreement_input_title2{
    font-size: 13px;
    line-height: 13px;
    font-weight: 400;
    margin: 5px 0 0 0;
    color: rgba(0,0,0,0.4);
}
.signup_form_agreement_input_content{
    height: 24px;
    margin-top: 8px;
    display: flex;
}
.signup_form_agreement_input_content_check{
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: rgba(0,0,0,0.15);
}
.signup_form_agreement_input_content_text{
    padding: 4px 0px 0px 12px;
    font-size: 14px;
    line-height: 14px;
    font-weight: 400;
    color: #222;
}

/* 회원가입 버튼 */
.signup_form_signup_btn_content{
    height: 52px;
    background-color: #222;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.signup_form_signup_btn_none_content{
    height: 52px;
    background-color: rgba(34, 34, 34, 0.2);
    border-radius: 10px;
    font-size: 16px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}